.reserve {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserveContainer {
    position: relative;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.8);
}

.roomCloseCircle {
    position: absolute;
    color: black;
    font-size: 35px;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.roomItems {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 400px;
    margin: 8px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0,0.5);
}
.selectRooms{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
    /* margin-right: 18px; */
    padding: 8px;
    gap: 5px;
}
.room{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.room>input {
    cursor: pointer;
}
.room>input:disabled {
    cursor:not-allowed;
}
.roomNumberLabel{
    font-size: 12px;
}
.reserveTitle {
    font-size: 18px;
    font-weight: 600;
}

.rooms {
    margin-top: 5px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.rooms::-webkit-scrollbar {
    display: none;
}

.roomItemInfo {
    margin: 10px 0px;
    border-radius: 12px;
    padding: 12px;
    width: 300px;
}

.roomTitle {
    font-size: 17px;
    font-weight: 600;
}

.roomDescription {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}

.roomItemHeadings {
    font-size: 14px;
    font-weight: 600;
}

.roomButton {
    border: none;
    padding: 10px 20px;
    background-color: #0027c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}